.vscode/launch.json
.vscode/tasks.json
edad.exe
suma.exe
primercodigo.exe
calculadora.exe
.vscode/settings.json
.gitignore
calculadoraconsignos.exe
cajero.exe
Ejercicios para estudiar/tiposdatos.exe
Ejercicios para estudiar/entradadatos.exe
Ejercicios para estudiar/op_aritmeticas.exe
Ejercicios para estudiar/5_mostrardatos.exe
